<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет BLEU-балла</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>
<body>
<nav class="navbar bg-body-tertiary" style="height: 68px">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <a class="navbar-brand" href="/" style="font-size: 24px">BLEU Calculator</a>
        </span>
    </div>
</nav>
    <div>
        <div class="row justify-content-center">
            <div class="col-md-4">
                <h1>Алгоритм работы с калькулятором. Примеры и расшифровка результатов</h1>
                <p class="bleu-info pt-5"><abbr title="bilingual evaluation understudy">BLEU</abbr> Calculator - это инструмент, разработанный для оценки качества машинного перевода, сравнивая его с эталонными переводами. Это важный шаг в процессе оптимизации и улучшения алгоритмов перевода, позволяющий ясно увидеть, насколько близко машинный перевод подходит к качеству человеческого перевода. В этом описании мы подробно рассмотрим, как работает наш калькулятор, какие данные он использует, и как интерпретировать его результаты, чтобы вы могли максимально эффективно использовать его в своих проектах и исследованиях.</p>
                <p class="bleu-info pt-2">Для того чтобы приступить к работе с калькулятором достаточно ввести или загрузить эталонный перевод/переводы, а также необходимые для проверки машинный перевод/переводы, далее следует нажать кнопку "рассчитать" и в окне ниже будут описаны результаты расчётов</p>
                <img class="img-fluid" src="{{ url_for('static', filename='images/Example.png') }}">
                <p class="bleu-info pt-2">Метрика <abbr title="bilingual evaluation understudy">BLEU</abbr> оценивает точность машинного перевода, сравнивая его с одним или несколькими эталонными переводами. Основные аспекты расчета BLEU включают:</p>
                <ol>
                    <li class="bleu-info pt-1">Точность N-грамм: BLEU анализирует совпадения n-грамм (последовательности из n слов) в машинном переводе с эталонными переводами. Например, для фразы "the cat jumped high":</li>
                    <ul class="bleu-info pt-1">
                        <li>1-граммы (унграммы): "the", "cat", "jumped", "high"</li>
                        <li>2-граммы (биграммы): "the cat", "cat jumped", "jumped high"</li>
                        <li>3-граммы (триграммы): "the cat jumped","cat jumped high"</li>
                        <li>и так далее, по тому же принципу</li>
                    </ul>
                    <li class="bleu-info pt-3">Модифицированная Точность N-грамм: BLEU применяет модифицированный подход к подсчету точности, ограничивая количество учета каждой n-граммы максимальным количеством ее появления в эталонных переводах.</li>
                    <li class="bleu-info pt-3">Штраф за Краткость (Brevity Penalty, BP): Если машинный перевод короче эталонного, к нему применяется штраф за краткость, чтобы избежать переводов, которые слишком короткие и не полные.</li>
                    <li class="bleu-info pt-3">Формула BLEU:</li>
                    <div class="formula" style="text-align: center; mt-2">
                        \[ \text{BLEU} = \text{BP} \cdot \exp\left(\sum_{n=1}^{N} w_n \log p_n\right) \]
                    </div>
                </ol>
                <h3 class="pt-5"> Давайте подробно разберем вывод программы.</h3>
                <p class="bleu-info pt-3">Вывод BLEU калькулятора демонстрирует следующие показатели:</p>
                <ol class="bleu-info">
                    <li class="pt-2">Метрика BLEU:<ul><li>BLEU - мера, используемая для оценки качества машинного перевода путем сравнения его с одним или несколькими эталонными переводами. Оценка BLEU может варьироваться от 0 до 1, где ближе к 1 означает лучшее соответствие между машинным и эталонным переводами.</li></ul></li>
                    <li class="pt-2">Точности для Всех N-грамм:<ul><li>Эти значения отражают, насколько хорошо n-граммы (последовательности из n слов) машинного перевода совпадают с эталонными переводами. Оценки представлены для унграмм (1-грамм), биграмм (2-грамм), триграмм (3-грамм) и т.д. Высокая точность n-грамм означает, что последовательности слов в машинном переводе часто встречаются в эталонных переводах.</li></ul></li>
                    <li class="pt-2">Штраф за Краткость (BP):<ul><li>Штраф за краткость применяется, если машинный перевод короче эталонного. Это предотвращает ситуации, когда чрезмерно короткий перевод получает высокую оценку BLEU. Штраф за краткость уменьшает общий BLEU-балл для коротких переводов.</li></ul></li>
                    <li class="pt-2">Оценка Точности:<ul><li>Общая оценка точности, которая вычисляется как среднее значение точностей всех n-грамм. Эта оценка дает общее представление о том, насколько хорошо машинный перевод соответствует эталонным переводам. Хотя точность является важной составляющей BLEU, сама метрика BLEU представляет более глобальную оценку, учитывающую не только точность, но и полноту перевода </li></ul></li>
                    <li class="pt-2">Длина Машинного и Эталонного Перевода:<ul><li>Предоставляется информация о количестве слов в машинном переводе и в эталонных переводах. Эти данные используются для расчета штрафа за краткость и могут помочь понять, насколько полно машинный перевод передает содержание эталонных текстов.</li></ul></li>
                </ol>
                <p class="bleu-info pt-3">Итоговый вывод программы предоставляет комплексное представление о качестве машинного перевода, сравнивая его с эталонными текстами и вычисляя BLEU-балл на основе различных метрик и штрафов.</p>
            </div>
        </div>
    </div>
</body>
</html>