<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет BLEU-балла</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script>
        async function send(form) {
            let response = await fetch('/process', {
              method: 'POST',
              body: new FormData(form)
            });

            if (response.status == 200) {
              let result = await response.text();
              document.getElementById('result').innerHTML = result
            } else {
              let error = await response.text();
              alert('Ошибка: ' + response.status + '\n' + error)
            }
        }
    </script>
</head>
<body style="background-color: #D8DCD6">
<nav class="navbar bg-body-tertiary" style="height: 68px">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <button class="btn" data-bs-toggle="modal" data-bs-target="#menu">
                <i class="bi bi-list"></i>
            </button>
            <a class="navbar-brand" href="/" style="font-size: 24px">BLEU Calculator</a>
        </span>
    </div>
</nav>
<div class="container text-center" style="width: 80%; margin-top: 70px">
    <form onsubmit="send(this); return false">
        <div class="row">
            <div class="col">
                <textarea id="textRef" name="textRef" class="form-control" rows="8"
                          placeholder="Введите эталонный перевод или загрузите файл" style="resize: none;"></textarea>

                <input class="form-control mt-2" type="file" id="fileRef" name="fileRef" multiple>
            </div>

            <div class="col">
                <textarea id="textCand" name="textCand" class="form-control" rows="8"
                          placeholder="Введите машинный перевод или загрузите файл" style="resize: none;"></textarea>

                <input class="form-control mt-2" type="file" id="fileCand" name="fileCand" multiple>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <input class="btn btn-secondary col-4 mt-3" type="submit" value="Рассчитать">
        </div>
        <div class="row justify-content-md-center">
            <textarea id="result" class="form-control mt-3 shadow-none" readonly rows="6" style="resize: none;"></textarea>
        </div>
        <div class="modal fade left" tabindex="-1" id="menu" role="dialog">
            <div class="modal-dialog" style="max-width: none">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">BLEU Calculator</h4>
                    </div>
                    <div class="modal-body">
                        <a class="btn" href="/info" style="font-size: 18px">О калькуляторе BLEU</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</body>
</html>